.page-template-about {
  .content-area {
    width: 100%;
    padding: 0;
  }

  .entry-header {
    display: flex;
    justify-content: center;
    height: 600px;
  }

  .about-title {
    align-self: center;
  }

  h1.entry-title{
    font-family: $font_accent;
    color: #fff;
    font-size: 3rem;
    line-height: 1.25;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
  }

  h2 {
    font-family: $font_accent;
    font-size: 2.1rem;
    line-height: 1.25;
    letter-spacing: 2px;
    text-align: center;
    color: $brand_color_purple;
    text-transform: uppercase;
    padding: 10px 0;
  }

  .about-container {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 65px
  }

}
