.page-template-about {
  .content-area {
    width: 100%;
    padding: 0;
  }

  h1.entry-title{
    // position: absolute;
    // top: 190px;
    // left: 545px;
    // font-family: $font_accent;
    // font-size: 3rem;
    // line-height: 3;
    // color: #fff;
    // text-transform: uppercase;
    margin: 0;
  }

  h2 {
    font-family: $font_accent;
    font-size: 2rem;
    line-height: 2;
    letter-spacing: 2px;
    text-align: center;
  }

  .about-container {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 40px
  }

}
