// Footer
.site-footer {
    background: url(../../images/dark-wood.png);
    background-size: 512px 512px;
    height: 354px;
}

footer {
  color: #fff;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;

}

.footer-info h3 {
  color: #d99054;
}

.contact {
  padding: 36px 0 0 106px;
}

.contact a {
  color: #fff;
  text-decoration: none;
}

.business-hours {
  padding: 32px 239px 0 0;
}

a:hover {
  text-decoration: underline;
}

.text-logo {
  margin-top: 54px;
  margin-right: 104px;
  width: 280px;
}

h3 {
  font-family: $font_accent;
  font-size: 1.2rem;
  line-height: 1.25;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p {
  font-size: 1 rem;
  line-height: 1.8;
  margin-bottom: 0;
}

p span {
  font-weight: 700;
}

i.fa {
  font-size: 1.3rem;
  margin: 0 0.35rem 0 0.2rem;
}

// Copyright section
.copyright {
  font-family: $font_accent;
  text-align: center;
  text-transform: uppercase;
  padding-top: 68px;
}
