// Footer
.site-footer {
    background: url(../../images/dark-wood.png);
    background-size: 512px 512px;
}

footer {
  color: #fff;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;

}

.footer-info h3 {
  color: #d99054;
}

.contact a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-logo {
  margin-top: 10px;
  margin-right: 5px;
  width: 250px;
}

// Copyright section
// .site-info, .container {
//   display: flex;
//   justify-content: center;
// }
