.single-post {
  .site-content {
    display: flex;
  }

  .content-area {
    width: 68%;
    padding: 75px 60px 75px 111px;
    border-right: 1px solid $brand_color_lightgrey;
  }

  .journal-wrapper {
    width: 100%;
  }

  .entry-header {
    position: relative;
    padding-top: 24px;
  }

  h1.entry-title {
    position: absolute;
    top: 35px;
    font-family: $font_accent;
    color: #ffffff;
    font-weight: bold;
    font-size: 2.1rem;
    line-height: 1.25;
    letter-spacing: 2px;
    background-color: $brand_color_green;
    max-width: 75%;
    padding: 10px 16px;
    text-transform: uppercase;
  }

  .entry-meta{
    position: absolute;
    right: 0;
    bottom: 8px;
    font-family: $font_accent;
    background-color: $brand_color_green;
    color: #fff;
    padding: 0 25px;
    text-transform: uppercase;
    font-size: 1rem;
  }

  .entry-meta a {
    color: #fff;
    text-decoration: none;
  }

  .entry-footer {
    font-family: $font_accent;
    color: $color__text-main;
    text-transform: uppercase;
    margin-top: 20px;
  }

  .entry-footer a {
    color: $brand_color_green;
    text-decoration: none;
  }

  .entry-footer span {
    padding-right: 30px;
  }

  .tax-container {
    display: flex;
  }

  .posted {
    font-family: $font_accent;
    font-size: 1rem;
    line-height: 1.75;
    padding-right: 15px;
  }

  .posted a {
    font-family: $font_accent;
    color: $brand_color_green;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      color: #000;
    }
  }

  .tagged {
    font-family: $font_accent;
    font-size: 1rem;
    line-height: 1.75;
  }

  .tagged a {
    font-family: $font_accent;
    color: $brand_color_green;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      color: #000;
    }
  }

  .social-media-wrapper1 {
    display: flex;
  }

  .facebook-btn a {
    @include button;
    &:hover {
      color: #fff;
  	 	background-color: $brand_color_green;
  		border: 1px solid $brand_color_green;
    }
  }

  .twitter-btn a {
    @include button;
    &:hover {
      color: #fff;
  	 	background-color: $brand_color_green;
  		border: 1px solid $brand_color_green;
    }
  }

  .pinterest-btn a {
    @include button;
    &:hover {
      color: #fff;
  	 	background-color: $brand_color_green;
  		border: 1px solid $brand_color_green;
    }
  }

  .fa {
    padding: 5px;
  }

  // .widget-area {
  //   width: 37%;
  //   padding-left: 73px;
  // }

  h2.comments-title {
    font-family: $font_accent;
    color: $brand_color_purple;
    font-size: 2.1rem;
    line-height: 1.25;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 45px;
  }

  .comment .parent {
    border-top: 0;
  }

  .comment {
    border-top: 1px solid $brand_color_lightgrey;
    padding: 25px 0;
  }

  .comment-list, .children {
    list-style-type:none;
  }

  .comment-reply-link, .comment-metadata a {
    color: $brand_color_green;
    text-decoration: none;
  }

  .comment-respond label {
    font-family: $font_accent;
    font-size: 1.1rem;
    line-height: 1.75;
    color: $brand_color_purple;
    text-transform: uppercase;
  }

  .comment-reply-title {
    font-size: 1.75rem;
    line-height: 1.3;
  }

.comment-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  input, textarea {
    background-color: #f4f4f4;
  }

  .required {
    color: $brand_color_orange;
  }

  .comment-form-comment {
    width: 100%;
    textarea {
      width: 100%;
    }
  }

  .comment-form-author {
    display: flex;
    flex-wrap: wrap;
    input#author {
      width: 100%;
    }
  }

  .comment-form-email {
    display: flex;
    flex-wrap: wrap;
    input#email {
    width: 100%;
    }
  }

  .comment-form-url {
    width: 100%;
    #url {
      width: 100%;
      }
    }
  input#submit.submit {
    @include grn-button;
    font-family: $font_accent;
    line-height: 1;
    box-shadow: none;
    border-radius: 0;
    }
  }
}
