.blog {
  .site-content {
    display:flex;
  }

  .content-area {
    width: 67%;
    padding: 102px 115px;
    border-right: 1px solid $brand_color_lightgrey;
  }
  .journal-wrapper {
    width: 66%;
  }

  .entry-header {
    position: relative;
  }

  h2.entry-title {
    position: absolute;
    top: 10px;
    font-family: $font_accent;
    color: #ffffff;
    font-weight: bold;
    font-size: 2.1rem;
    line-height: 1.25;
    letter-spacing: 2px;
    background-color: $brand_color_green;
    max-width: 75%;
    padding: 10px 16px;
    text-transform: uppercase;
  }

  .entry-title a {
    color: #ffffff;
    text-decoration: none;
    &:hover {
      color: $brand_color_yellow;
    }
  }

  .entry-meta {
    position: absolute;
    right: 0;
    bottom: 8px;
    font-family: $font_accent;
    background-color: $brand_color_green;
    color: #fff;
    padding: 0 25px;
    text-transform: uppercase;
    font-size: 1rem;
  }

  span {
    font-weight: normal; 
  }

  .read-more-btn {
    margin-bottom: 85px;
  }
  .read-more-btn a {
    @include button;
    &:hover {
      color: #fff;
  	 	background-color: $brand_color_green;
  		border: 1px solid $brand_color_green;
    }
  }

  .widget-area {
    width: 20%;
    padding-left: 73px;
  }
}
