// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin button {
  font-family: $font_accent;
  font-size: 0.9rem;
  line-height: 0.9rem;
  color: #000;
  background-color: #fff;
  border: 1px solid black;
  padding: 10px 20px;
  text-transform: uppercase;
  margin: 2px;
  text-decoration: none;
}
