/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

// header navigation
.header-container {
    position: fixed;
    top: 0;
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    z-index: 999;
    background: rgba(255, 255, 255, 0.8);
		padding: 0 98px;
  }

.site-branding {
  justify-content: flex-start;
	padding-top: 7px;
}

.logo {
  align-self: flex-start;
  width: 50px;
  margin-left: 16px;

}
.nav-wrapper {
	display: flex;
	padding-top: 4px;
}

.main-navigation {
  justify-content: flex-end;
  padding: 11px; 
}

.main-navigation a {
  font-family: $font_accent;
  color: $brand_color_green;
	&:hover {
		color: #404040;
		text-decoration: none;
	}
}

.main-navigation li {
    margin-right: 22px;
		text-transform: uppercase;
}
.nav-div {
    width: 55%;
}
