/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.container {
  width: 1120px;
  margin: 0 auto;
}

.header-container {
    position: fixed;
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
  }

.logo {
  align-self: flex-start;
  width: 50px;
  margin-left: 10px;

}

.main-navigation a{
  font-family: $font_accent;
  color: #fff;
}

// Removes Home link from navigation menu
.main-navigation li {
    margin-right: 40px;

}
.nav-div {
    width: 55%;
}

// Footer
.site-footer {
    background: url(../../images/dark-wood.png);
    background-size: 512px 512px;
}

footer {
  color: #fff;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;

}

.footer-info h3 {
  color: #d99054;
}

.contact a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-logo {
  margin-top: 10px;
  margin-right: 5px;
  width: 250px;
}

// Copyright section
// .site-info, .container {
//   display: flex;
//   justify-content: center;
// }

.site-main {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

// .content-area {
//   width: 60%;
// }

#secondary {
  text-align: left;
  margin: 0 auto;
  width: 30%;
  padding-top: 34px;
}

// #content {
  // display: flex;
  // align-items: baseline;
// }

.entry-header {
  position: relative;
}

h1.entry-title {
  display: none;
}

// h2.entry-title a {
//   position: absolute;
//   background-color: #248A83;
//   color: #fff;
//   top: 17px;
//   text-decoration: none;
//   font-family: Novecento;
//   font-weight: bold;
//   font-size: 2rem;
//   max-width: 75%;
//   text-transform: uppercase;
// }
//
// h2.entry-title {
//   font-family: Novecento;
//   font-weight: bold;
//   text-transform: uppercase;
// }

.entry-meta {
  position: absolute;
  background-color: #248A83;
  color: #fff;
  right: 0;
  bottom: 5px;
  padding: 0 17px 0 17px;
  text-transform: uppercase;
  font-size: 0.75rem;
}
div#primary.content-area {
  display: inline-flex;
}

div#secondary.widget-area {
  display: flex;
  flex-direction: column;
}

// .about-hero {
//   background-image: '';
//   background-size: cover;
//   height: 100vh;
// }

.page-template-about {
  height: 500px;

}

.site-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
