/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.header-container {
    position: fixed;
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    width: 100%;


}
.logo {
  align-self: flex-start;
  width: 50px;
  margin-left: 10px;

}

// Removes Home link from navigation menu
.menu li:first-child {
  display:none;
}

.main-navigation li {
    margin-right: 40px;
}
.nav-div {
    width: 55%;
}

.site-footer {
    background: url(../../images/dark-wood.png);
    background-size: 512px 512px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.site-info, .container {
  display: flex;
  justify-content: center;
}
