.archive {
  .prod-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1150px;
  }

  .prod-grid-item {
    border: 1px solid $brand_color_lightgrey;
    margin-bottom: 24px;
    max-width: 265px;
  }

  .prod-thumbnail {
    max-width: 265px;
    height: 250px;
  }

  .prod-thumbnail img{
    border-bottom: 4px solid $brand_color_lightgrey;
    object-fit: cover;
    height: 100%;
  }

  .prod-text-container {
    padding: 15px;
  }

  .prod-text {
    display: flex;
  }

  .prod-title {
    font-size: 1rem;
    line-height: 1.75;
    white-space: nowrap;
    width: 250px;
    position: relative;
  }

  .dot-leader {
    display: inline-block;
  }

  .prod-price {
    font-size: 0.9rem;
    position: absolute;
    right: 0;
    background-color: #fff;
    padding-right: 13px;
  }

}
