.archive {
  .prod-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .prod-grid-item {
    border: 1px solid $brand_color_lightgrey;
  }

  .prod-thumbnail {
    max-width: 250px;
    height: 250px;
  }

  .prod-thumbnail img{
    background-color: $brand_color_lightgrey;
    object-fit: cover;
    height: 100%;
  }

  .prod-text {
    display: flex;
  }

  .prod-title {
    align-self: flex-start;
    font-size: 1rem;
    line-height: 1.75;
  }

  .dot-leader {
    align-self: center;
    z-index: 1;
  }

  .prod-price {
    align-self: flex-end;
    font-size: 0.9rem;
  }

}
