// Search form
.header-search .search-form    {
  color: $brand_color_green;
  fieldset {
    border: 0;
    padding-top: 3px;
  }
  fieldset .search-field {
      background:transparent;
      border:solid 0px transparent;
      width:0;
  }
  fieldset .new-width{
    border:solid 0px transparent;
      width:185px;
  }
  input {
    text-transform: uppercase;
  }
  input:focus {
    outline: 0;
  }
  .fa-search {
    font-size: 1rem;
  }
}

.search-no-results .page-content .search-form fieldset {
  width: 190px;
  border: 0;
  .fa-search {
    display: none;
  }
}
