// Search form
.search-form    {
    padding-top:1rem;
    color: $brand_color_green;
    fieldset {
      border: 0;
    }
    fieldset .search-field{
        background:transparent;
        border:solid 0px transparent;
        width:0;
    }
    fieldset .new-width{
        width:170px;
    }
    input {
      text-transform: uppercase;
    }
    input:focus {
      outline: 0;
    }
}
