// Search form
.search-form    {
    color: $brand_color_green;
    fieldset {
      border: 0;
      padding-top: 3px;
    }
    fieldset .search-field{
        background:transparent;
        border:solid 0px transparent;
        width:0;
    }
    fieldset .new-width{
        width:185px;
    }
    input {
      text-transform: uppercase;
    }
    input:focus {
      outline: 0;
    }
    .fa-search {
      font-size: 1rem;
    }
}
