// Categories at top of page

.shop-category-container {
  display: flex;
  justify-content: center;
}

.shop-category-link {
  display: flex;
  font-family: $font_accent;
  color: $brand_color_green;
  text-decoration: none;
  padding: 10px;
}

// Product grid section
.product-container {
  width: 1120px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
}

.prod-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  margin: 10px;
}

.prod-wrapper .entry-title {
  font-family: 'Merriweather', serif;
  color: $brand_color_purple;
  background-color: #fff;
  top: 151px;
  text-transform: none;
  font-size: 0.75rem;
  font-weight: lighter;
}

.page-title {
  text-align: center;
}

// Product descriptions
.prod-wrapper .entry-content p {
  display: none;
}
