// Categories at top of page

.shop-category-container {
  display: flex;
  justify-content: center;
}

.shop-category-link {
  display: flex;
  font-family: $font_accent;
  color: $brand_color_green;
  text-decoration: none;
  padding: 10px;
}

// Product grid section
.product-container {
  width: 1120px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
}

.prod-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  margin: 10px;
}

.prod-wrapper .entry-title {
  font-family: 'Merriweather', serif;
  color: $brand_color_purple;
  background-color: #fff;
  top: 151px;
  text-transform: none;
  font-size: 0.75rem;
  font-weight: lighter;
}

.dot-leader {
  max-width: 150px;
}

.page-title {
  text-align: center;
}

// Product descriptions
.prod-wrapper .entry-content p {
  display: none;
}

.prod-container-single {
  display: flex;
  width: 1120px;
}

.prod-image {
  margin-right: 43px;
  margin-bottom: 115px;
  width: 536px;
}

.prod-content {
  width: 48%;
  font-size: 1rem;
  line-height: 2;
}

.prod-title-single {
  font-size: 2.4rem;
  line-height: 0rem;
  // line-spacing: 2rem;
  font-family: $font_accent;
  color: $brand_color_orange;
  text-transform: uppercase;
  font-weight: bold;
}

.prod-price-single {
  font-family: $font_accent;
  font-size: 1.8rem;
  // line-height: 1.75;
}

.prod-desc-single {
  line-height: 1.75;
}

.social-media-wrapper {
  display: flex;
  position: absolute;
  top: 484px;
  right: 353px;
}

.facebook-btn a {
  @include button;
  &:hover {
    color: #fff;
	 	background-color: $brand_color_green;
		border: 1px solid $brand_color_green;
  }
}

.twitter-btn a {
  @include button;
  &:hover {
    color: #fff;
	 	background-color: $brand_color_green;
		border: 1px solid $brand_color_green;
  }
}

.pinterest-btn a {
  @include button;
  &:hover {
    color: #fff;
	 	background-color: $brand_color_green;
		border: 1px solid $brand_color_green;
  }
}

.fa {
  padding: 5px;
}
