// Categories at top of page

.shop-category-container {
  display: flex;
  justify-content: center;
}

.shop-category-link {
  display: flex;
  font-family: $font_accent;
  color: $brand_color_green;
  text-decoration: none;
  padding: 10px;
}

// Product grid section
.product-container {
  width: 1120px;
}

// .prod-grid {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   // justify-content: space-between;
//   flex-wrap: wrap;
//   margin: 2px;
// }

// .prod-wrapper {//
//   width: 250px;
//   // list-style: none;
//   margin: 0;
// }//

// .prod-grid-item {//
//   flex: 0 0 20%;
//   height: 250px;
//   flex: 0 1 20%;
//   overflow: hidden;
// }//

// .prod-thumb-container {//
//   width: 100%;
//   position: relative;
//   height: 250px;
//   overflow: hidden;
//   border: 1px solid black;
// }//

// .prod-thumb-container img {//
//   max-height: 100%;
//   max-width: none;

  // display: block;
//}//

// .prod-wrapper {//
//   display: flex;
//   flex-wrap: wrap;
//   margin: 10px;
// }//

// prod-thumbnail-container {//
//   width: 250px;
//   position: relative;
//   overflow: hidden;
// }//

// .prod-wrapper .entry-title {//
//   font-family: 'Merriweather', serif;
//   color: $brand_color_purple;
//   background-color: #fff;
//   top: 151px;
//   text-transform: none;
//   font-size: 0.75rem;
//   font-weight: lighter;
// }//

// .prod-thumbnail img { //height: 250px, width: 100%, overflow:hidden
//   position: absolute;
//   left: -30%;
//   max-height: 250px;
//   max-width: none;
//   transform: translate(-50%,-52%);
// }//

// .prod-thumbnail {//
//    position: absolute;
//    top: 50px;
//    left: 50%;
//    height: 250px;
  //  width: 100%;
  //  margin-top: -250px; /* Half the height */
  //  margin-left: -250px; /* Half the width */
//}//

// .page-title {
//   text-align: center;
// }

// Product descriptions
.prod-wrapper .entry-content p {
  display: none;
}

.prod-container-single {
  display: flex;
  width: 1120px;
}

.prod-image {
  margin-right: 43px;
  margin-bottom: 115px;
  width: 536px;
}

.prod-content {
  width: 48%;
  font-size: 1rem;
  line-height: 2;
}

.prod-title-single {
  font-size: 2.4rem;
  line-height: 0rem;
  // line-spacing: 2rem;
  font-family: $font_accent;
  color: $brand_color_orange;
  text-transform: uppercase;
  font-weight: bold;
}

.prod-price-single {
  font-family: $font_accent;
  font-size: 1.8rem;
  // line-height: 1.75;
}

.prod-desc-single {
  line-height: 1.75;
}

.social-media-wrapper {
  display: flex;
  position: absolute;
  top: 484px;
  right: 353px;
}

.facebook-btn a {
  @include button;
  &:hover {
    color: #fff;
	 	background-color: $brand_color_green;
		border: 1px solid $brand_color_green;
  }
}

.twitter-btn a {
  @include button;
  &:hover {
    color: #fff;
	 	background-color: $brand_color_green;
		border: 1px solid $brand_color_green;
  }
}

.pinterest-btn a {
  @include button;
  &:hover {
    color: #fff;
	 	background-color: $brand_color_green;
		border: 1px solid $brand_color_green;
  }
}

.fa {
  padding: 5px;
}
